<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <section class="nav">
      <a class="nav__item" href="#">Overview</a>
      <a class="nav__item nav__item--active" href="#"
        >Repositories <span class="nav__count">10</span></a
      >
      <a class="nav__item" href="#">Projects</a>
      <a class="nav__item" href="#">Packages</a>
    </section>
    <hr class="hr__nav" />
    <section class="main">
      <!-- PROFILE COMPONENT -->
      <section class="profile">
        <img
          class="profile__avatar"
          src="https://avatars0.githubusercontent.com/u/59667946?v=4"
          alt=""
          srcset=""
        />
        <div class="profile__name">Aitor1111</div>
        <div class="profile__subname">Aitor Truji</div>
        <div class="profile__company">React Fullstack Developer</div>
        <button class="button button--large">
          Follow
        </button>
        <div class="profile__status">17 followers · 45 following · $ 24</div>
      </section>
      <!-- / -->
      <section class="repos">
        <!-- SEARCH COMPONENT -->
        <section class="search">
          <input
            class="search__input"
            type="text"
            name="search"
            placeholder="Find a repository..."
          />
          <button class="button">
            Type: <span class="button__text-highlight">All</span>
          </button>
          <button class="button">
            Language: <span class="button__text-highlight">All</span>
          </button>
        </section>
        <hr class="hr__repos" />
        <!-- / -->
        <!-- REPO COMPONENT -->
        <section class="repo">
          <div class="repo__container">
            <a href="#" class="repo__title">nomad-app</a>
            <div class="repo__description">
              A declarative, efficient, and flexible JavaScript library for
              building user interfaces.
            </div>
            <div class="repo__info-container">
              <div class="repo__light-text">
                <span class="lang-icon"></span>
                JavaScript
              </div>
              <div class="repo__light-text">Updated 7 days ago</div>
            </div>
          </div>
          <div class="repo__button-container">
            <button class="button">
              $ Star
            </button>
          </div>
        </section>
        <hr class="hr__repos" />
        <!-- / -->
        <section class="repo">
          <div class="repo__container">
            <a href="#" class="repo__title">nomad-app</a>
            <div class="repo__description">
              A declarative, efficient, and flexible JavaScript library for
              building user interfaces.
            </div>
            <div class="repo__info-container">
              <div class="repo__light-text">
                <span class="lang-icon"></span>
                JavaScript
              </div>
              <div class="repo__light-text">Updated 7 days ago</div>
            </div>
          </div>
          <div class="repo__button-container">
            <button class="button">
              $ Star
            </button>
          </div>
        </section>
        <hr class="hr__repos" />
        <section class="repo">
          <div class="repo__container">
            <a href="#" class="repo__title">nomad-app</a>
            <div class="repo__description">
              A declarative, efficient, and flexible JavaScript library for
              building user interfaces.
            </div>
            <div class="repo__info-container">
              <div class="repo__light-text">
                <span class="lang-icon"></span>
                JavaScript
              </div>
              <div class="repo__light-text">Updated 7 days ago</div>
            </div>
          </div>
          <div class="repo__button-container">
            <button class="button">
              $ Star
            </button>
          </div>
        </section>
        <hr class="hr__repos" />
      </section>
    </section>

    <!-- USER INPUT COMPO -->
    <section class="user-input">
      <div class="user-input__container">
        <img
          class="user-input__logo"
          src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimage.flaticon.com%2Ficons%2Fpng%2F512%2F25%2F25231.png&f=1&nofb=1"
          alt=""
        />
        <div class="user-input__title">Find a GitHub Profile</div>
        <input
          class="search__input search__input--large"
          type="text"
          name="search"
          placeholder="Find a github profile... (ex: Aitor1111)"
        />
        <button class="button button--huge">Find</button>
      </div>
    </section>
    <!-- / -->
  </body>
</html>
